/* body {
    width: var(--width-main);
    height: var(--height-main);
    display: grid;
    align-items: center;
    justify-content: center;
} */

/* p,a {
    margin: 0;
    padding: 0;
} */

/* Merge */
.section {
    position: relative;
    display: grid;
    text-align: center;
    justify-content: center;
    text-align: center;
}

.section .drop_area {
    border-radius: 20px;
    border: 3px solid var(--color-highlighted);
    width: calc(var(--width-main)*.9);
    height: calc(var(--height-main)*.7);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    overflow-y: scroll;
    position: relative;
}

.section .drop_area::-webkit-scrollbar {
    display: none;
}

.section .drop_area .grid_files {
    display: none;

}

.section .drop_area.files .grid_files {
    display: grid;
    width: 90%;
    height: auto;
    padding: 5%;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-flow: row;
    grid-auto-rows: calc(calc(var(--height-main)*.7) / 3);
    gap: 10px;
    position: absolute;
    top: 0;
}

.grid_files .file_document {
    border-radius: 10px;
    border: 3px solid var(--color-highlighted);
    background-color: var(--color-background);
    position: relative;
    overflow: hidden;
}

.grid_files .file_document .name_file {
    border: none;
    background-color: var(--color-highlighted);
    font-size: 14px;
    color: var(--color-highlighted-inverse);
    margin: 0;
    padding: 0 4px;
    line-height: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20px;
    overflow: hidden;
}

.grid_files .file_document .quit {
    border: none;
    background-color: var(--color-highlighted);
    font-size: 14px;
    color: var(--color-highlighted-inverse);
    margin: 0;
    line-height: 20px;
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    font-weight: bold;
}


.section .button {
    width: calc(var(--width-main)*.75);
    margin: 0 auto;
    background-color: var(--color-standar);
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    padding: 10px;
    color: var(--color-background)
}

.section .button p {
    margin: 0;
}

.section .buttons_top {
    height: auto;
    position: absolute;
    top: 0;
    right: 11px;
    z-index: 1;
    justify-content: flex-end;
    margin: 30px 0;
}

.section .buttons_top .small_button {
    width: 40px;
    height: 40px; 
    background-color: var(--color-background);
    border-radius: 50%;
    border: 3px solid var(--color-highlighted);
    margin-bottom: 15px;
    overflow: hidden;
}

.section .buttons_top .small_button.theme {
    margin-top: 150px;
    margin-bottom: 0;
}

/* Icons */
.small_button figure {
    margin: 0;
    width: 100%;
    height: 100%;
}

.small_button figure img {
    width: 100%;
    height: 100%;
}