:root {
    --color-background: #DBE2EF;
    --color-standar: #3F72AF;
    --color-highlighted:  #112D4E; 
    --color-highlighted-inverse: #F9F7F7;
    --width: 800px; 
    --height: 600px;
    --width-item-bar: 90px; 
    --height-item-bar: 150px;
    --width-main: 710px; 
    --height-main: 600px;
    --size-icons-left: 80px;
    --radious-border-icons-left: 30px; 

    --color-icons-bg: var(--color-standar)
    --color-icons: var(--color-highlighted-inverse)
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--color-background);
    font-family: 'Philosopher', sans-serif;
}


@media (prefers-color-scheme: dark) {
    :root {
        --color-background: #232931;
        --color-standar: #4ECCA3;
        --color-highlighted:  #CCCCCC; 
        --color-highlighted-inverse: #0d1013;
    }
}
  
@media (prefers-color-scheme: light) {
    :root {
        --color-background: #DBE2EF;
        --color-standar: #3F72AF;
        --color-highlighted:  #112D4E; 
        --color-highlighted-inverse: #F9F7F7;
    }
}