:root {
    --width: 800px; 
    --height: 600px;
    --width-item-bar: 90px; 
    --height-item-bar: 150px;
    --width-main: 710px; 
    --height-main: 600px;
    --size-icons-left: 80px;
    --radious-border-icons-left: 30px; 

    --color-icons-bg: var(--color-standar)
    --color-icons: var(--color-highlighted-inverse)
}

@font-face {
    font-family: 'Philosopher';
    font-style: normal;
    font-weight: bold;
    src: local("Philosopher-Bold"), url(./fonts/Philosopher/Philosopher-Bold.ttf)
}

@font-face {
    font-family: 'Philosopher';
    font-style: normal;
    font-weight: normal;
    src: local("Philosopher-Regular"), url(./fonts/Philosopher/Philosopher-Regular.ttf)
}

@font-face {
    font-family: 'Philosopher';
    font-style: italic;
    font-weight: normal;
    src: local("Philosopher-Italic"), url(./fonts/Philosopher/Philosopher-Italic.ttf)
}

@font-face {
    font-family: 'Philosopher';
    font-style: italic;
    font-weight: bold;
    src: local("Philosopher-BoldItalic"), url(./fonts/Philosopher/Philosopher-BoldItalic.ttf)
}


body {
    margin: 0;
    padding: 0;
    background-color: var(--color-background);
    font-family: 'Philosopher', sans-serif;
}

/* Buttons effects */
.button {
    box-shadow: 2px 2px 6px 1px var(--color-shadow);
}

.button:hover {
    box-shadow: 0px 0px 12px 2px var(--color-shadow);
}

.button:active {
    box-shadow: 2px 2px 6px 1px var(--color-shadow) inset;
}

.small_button {
    box-shadow: 1px 1px 4px 1px var(--color-shadow);
}

.small_button:hover {
    box-shadow: 0px 0px 8px 1px var(--color-shadow);
}

.small_button:active {
    box-shadow: 1px 1px 4px 1px var(--color-shadow) inset;
}

.button.disabled, .small_button.disabled {
    box-shadow: none;
}

.button.disabled div, .small_button.disabled div {
    opacity: 20%;
}

/* Clickeable elements */
.clickable, .button, .small_button {
    cursor:pointer;
}

.button.disabled, .small_button.disabled {
    cursor:default;
}


@media (prefers-color-scheme: dark) {
    :root {
        --color-background:#232931;
        --color-standar: #4ECCA3;
        --color-highlighted: #CCCCCC; 
        --color-highlighted-inverse:#0d1013;
        --color-shadow: #000000ee;
    }
}
  
@media (prefers-color-scheme: light) {
    :root {
        --color-background:#DBE2EF;
        --color-standar:#3F72AF;
        --color-highlighted: #112D4E; 
        --color-highlighted-inverse:#F9F7F7;
        --color-shadow: rgba(0,0,0,0.4);
        
    }
}

